@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}
nav{
    display: flex;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

    justify-content: space-between;
    max-width: 1440px;
    height: 30px;
    padding: 30px 200px;


}
.primary-color{
    color:#FF42A5;
}
.nav-part-1{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.nav-part-1 img{
    width: 70px;
    height: 40px;
}
.nav-part-1, .nav-title{
    font-size: 45px;
    font-weight: 700;
}

.nav-part-2  ul {
    display: flex;
    list-style: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
   
}
.nav-part-2{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color: #3C354F;
    text-align: center;
   
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    
}
.follow-us-option{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 250px;
    height: 30px;
    padding: 5px;
    gap: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.follow-us-option img{
    width: 40px;
    height: 30px;
    gap: 5px;
}

.banner-container{
    display: flex;
    justify-content: space-between;
  
    max-width: 1400px;
    height: 600px;
    
    
    
    
    
}

.banner-description-container{
    background-image: url("../images/background.png");
    fill: linear-gradient(223deg, rgba(136, 78, 244, 0.03) 0%, rgba(248, 59, 175, 0.03) 100%);
    background-position:right;
    background-repeat: no-repeat;
    background-size:cover;
    width: 50%; 
    justify-content: center;
    align-items: center;
    /* text-align: center; */

    
    
    
   
}
.banner-description ul{
    list-style: none;
    margin-left: 10px;
    color: #534C64;
    
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
     
    
}
.banner-description{
   
    display: grid;
    justify-content: center;
    align-content: center;
    height: 70vh;
   
    
    

}
.banner-img img{
    width: 90%;
    
}
.banner-description h2{
    color: #0B0223;
    
    text-align: center;
    
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
 }
 .Goat{
    text-align: center;
    
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height:normal;
    text-transform: uppercase; 
 }
.linear-color{
 
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 .banner-btn{
    display: inline-flex;
    margin-left:50px;
    align-items: flex-start;
    gap: 30px;
 }
 .sign-in-btn{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 15px 20px;
    border: none;
    color: #FFF;
    
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
 }
 .rogue-btn{
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    padding:15px 20px ;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase; 
    border: none;
 }
 .gamer-section{
    display: flex;
    max-width: 1400px;
    height: 600px;
    padding: 10px 90px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    
 }
 .gamer-img img{
    width: 100vh;
   
 }
 .gamer-description-container{
    
    text-align:end;
    margin-top:0;
    padding-right: 50px;
    padding-left: 30px;

 }
 .gamer-title{
    text-align: right;
    
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
 }
 .gamer-description{
   
    color: #534C64;
    text-align: right;
    
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
 }
 .gamer-section-footer{
    color: #534C64;
    text-align: right;

    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px; 
 }
 .gamer-section-span{
    color: #534C64;
    
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; 
 }
 .videos-container{
    display: grid;
    max-width: 1400px;
    height: 100%;
 }
 .videos-container-title{
    text-align: center;
 }
 .videos{
    display: flex;
    gap: 24px;
    margin-left: 70px;
    justify-content: center;
    align-content: center;

 }
 
 .video{
    width: 300px;
    height: 350px;
    gap: 10px;

    
 }
 .videos img{
    width: 100%;
    

 }






   /* responsive styles */
  /* mobile device */
  @media screen and (max-width:576px) {
    nav,.nav-part-2{
        position: static;
        flex-direction: column;
        text-align: center;
        align-items: center;
        height: 100%;
       padding-left: 50px;
    }
    .banner-container{
        flex-direction: column;
        align-items: center;
        height: 100%;
        
    }
   
    .gamer-title,.gamer-description,.gamer-btn,.gamer-section-footer{
        text-align: center;
    }
    
    .banner-description{
        width: 70%;
     
    }
    .banner-img img{
        width: 70%;
        margin-top: 100px;
    }
    .gamer-section{
       padding-left: 0%;
        flex-direction: column;
        margin-bottom: 50px;
     
    }
    .gamer-img img {
        width: 100%;
        
    }
    .gamer-img{
        padding-left: 0;
    }
    .videos-container{
        margin-top: 200px;
        width: 70%;
       
    }
    .videos{
        flex-direction: column;
        
    }
    .video{
        margin-top: 20px;
    }
  }


   /* tablet or medium device */
   @media screen and (min-width:576px)  and (max-width:960px)
   {
nav, .nav-part-2,.banner-container{
    flex-direction: column;
    height: 100%;
    align-items: center;
    
}

.banner-description{
    width: 100%;
    
   }
.gamer-section{
    padding-left: 0%;
     flex-direction: column;
     margin-bottom: 50px;
  
 }
 .gamer-title,.gamer-description,.gamer-btn,.gamer-section-footer{
    text-align: center;
}
 .gamer-img img {
     width: 100%;
     
 }
 .gamer-img{
     padding-left: 0;
 }
 .videos-container{
    margin-top: 200px;
    width: 70%;

   
}
.videos-container-title,.videos-title,.videos-des{
    
    text-align: center;
    margin-left: 90px;
}
.videos{
    flex-direction: column;
    margin-left: 250px;
    

    
}
.video{
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}



}  